<!DOCTYPE html>
<html>
  {{> head}}
  <body>

    <h1>Are You Done Yet?</h1>

    <p>
      {{board.name}}
    </p>

    <hr>

    {{#each cards}}
      <div>

        <div {{#if done}} style="color: grey"{{/if}}>{{name}}</div>

        {{#if desc}}
        <div>{{desc}}</div>
        {{/if}}

        {{#unless done}}

        {{#if activityUrl}}
        <div><a href={{activityUrl}}>{{activityUrl}}</a></div>
        {{/if}}

        <div><a href="/cardDone/{{id}}">Done!</a></div>
        {{/unless}}

      </div>

      <hr>
    {{/each}}

  </body>
</html>
