<!DOCTYPE html>
<html>
  {{> head}}
  <body unresolved>

    <div id="cards" class="layout vertical">

      <h1>{{board.name}}</h1>

      {{#each cards}}
        <paper-card {{#if done}}class="done"{{/if}}>

          <div class='card-content'>
            <div {{#if done}} style="color: grey"{{/if}}><a href={{url}} target="_blank">{{name}}</a></div>
            {{#each description}}
            <div>{{this}}</div>
            {{/each}}
          </div>

          <div class='card-actions'>
            <a href="/cardDone/{{id}}"><paper-checkbox class="blue" {{#if done}}checked{{/if}}>Done</paper-checkbox></a>
            {{#unless done}}
            {{#if activityUrl}}
            <a href={{activityUrl}} target="_blank"><paper-button class="green ripple">Activity</paper-button></a>
            {{/if}}
            {{/unless}}
          </div>

        </paper-card>
      {{/each}}

      <p></p>

      <div>
        {{today}}
        <a href="/day/{{previousDay}}"><paper-button class="green ripple">Previous Day</paper-button></a>
        <a href="/day/{{nextDay}}"><paper-button class="green ripple">Next Day</paper-button></a>
        <a href="/choose"><paper-button class="red ripple">Change board</paper-button></a>
      </div>

    </div>

  </body>
</html>
