<!DOCTYPE html>
<html>
  {{> head}}
  <body unresolved>

    <div class="documentContainer">

      <h1>{{board.name}}</h1>

      {{#each cards}}
        <div {{#if done}}class="done section"{{else}}class="section"{{/if}}>

          <div>
            <div>{{list}}</div>
            <div><a href={{url}} target="_blank">{{name}}</a></div>
            {{#each description}}
              <div>{{this}}</div>
            {{/each}}

          </div>

          <div>
            <a href="/cardDone/{{id}}"><input type="checkbox"{{#if done}} checked{{/if}}>Done</a>
            {{#unless done}}
            {{#if activityUrl}}
            <a href={{activityUrl}} target="_blank" class="button">Activity</a>
            {{/if}}
            {{/unless}}
          </div>

        </div>
      {{/each}}

      <p></p>

      <div>
        {{today}}
        <a href="/day/{{previousDay}}" class="button">Previous Day</a>
        <a href="/day/{{nextDay}}" class="button">Next Day</a>
        <a href="/choose" class="button">Change board</a>
      </div>

    </div>

  </body>
</html>
