<!DOCTYPE html>
<html>
  {{> head}}
  <body unresolved>

    <div class="rootContainer">

      <div class="headerContainer">
        <h1>{{board.name}}</h1>
      </div>

      {{#each cards}}
        <div class="card{{#if done}} done{{/if}}">

          <div>
            <h3>{{list}}</h3>
            <div><a href={{url}} target="_blank">{{name}}</a></div>
            {{#each description}}
              <div>{{this}}</div>
            {{/each}}
          </div>

          <div class="cardActions">

            <a href="/cardDone/{{id}}" class="actionsItem">
              <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <div class="outer">
                  <div class="inner{{#if done}} dark{{/if}}"/></div>
                </div>
                <div>done</div>
              </div>
            </a>

            <div class="actionsFiller"></div>

            {{#if done}}
            <div style="flex-basis: 15%;"></div>
            {{else}}
            {{#if activityUrl}}
            <a href={{activityUrl}} target="_blank" class="button actionsItem">Activity</a>
            {{else}}
            <div style="flex-basis: 15%;"></div>
            {{/if}}
            {{/if}}

          </div>

        </div>
      {{/each}}

      <p></p>

      <div>
        {{today}}
        <a href="/day/{{previousDay}}" class="button">Previous Day</a>
        <a href="/day/{{nextDay}}" class="button">Next Day</a>
        <a href="/choose" class="button">Change board</a>
      </div>

    </div>

  </body>
</html>
