<!DOCTYPE html>
<html>
  {{> head}}
  <body unresolved>

    <div id="cards" class="layout vertical">

      <h1>{{board.name}}</h1>

      {{#each cards}}
        <paper-card {{#if done}}class="done"{{/if}}>

          <div class='card-content'>
            <div {{#if done}} style="color: grey"{{/if}}><a href={{url}}>{{name}}</a></div>
            {{#each description}}
            <div>{{this}}</div>
            {{/each}}
          </div>

          {{#unless done}}
          <div class='card-actions'>
            {{#if activityUrl}}
            <a href={{activityUrl}}><paper-button class="green ripple">Activity</paper-button></a>
            {{/if}}
            <a href="/cardDone/{{id}}"><paper-button class="blue ripple">Done</paper-button></a>
          </div>
          {{/unless}}

        </paper-card>
      {{/each}}

    </div>

  </body>
</html>
